@import '../../variables.module.scss';

.navbarContainer {
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 5px;

  display: flex;
  justify-content: space-between;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgb(157 157 157 / 18%);
  background: rgba(255, 255, 255, 0.25);

  @media screen and (max-width: 760px) {
    flex-direction: column;
  }

  .navbar__logo {

    margin-left: 50px;

  
    display: flex;
    align-items: center;

    @media screen and (max-width: 760px) {
      justify-content: center ;
      margin-left: 0px;
      margin: 10px 0;
      flex-direction: row;
    }
  
    .navbar__logo__image {
      margin-right: 10px;
      width: 50px;
      height: 50px;
    }

    .navbar__logo__link {
      color: $primary-purple;
      text-decoration: none;
    }
  }

  .navbar__sections {
    margin-right: 50px;
  
    display: flex;
    align-items: center;

    @media screen and (max-width: 760px) {
      margin-right: 0;
    }
  
    .navbar__links {
      display: flex;
      list-style: none;


      @media screen and (max-width: 760px) {
        flex-direction: column;
        align-items: center;
        width: 100%;
      }
    
      .list__link {
        padding: 10px;
        margin: 0 20px;
        cursor: pointer;
        color: $primary-gray;
        position: relative;
  
        transition: background-color 0.2s ease-in;

       text-decoration: none;
      }
  
      .list__link:hover {
        //background-color: $primary-purple;
      }
  
      .list__link:hover::after {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        
        position: absolute;
        background-color: $primary-purple;
        bottom: 0;
        left: 45%;
      }
    }
    
  }

}


